<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h1>{{title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">

          <div class="mb-3">
            <label for="nombre" class="form-label">Ingrese una tarea</label>
            <input class="form-control" name="nombre" id="nombre" #nombre>
            <div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Error!</strong> {{error_message}}
              <button (click)="error = false" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <button class="btn btn-primary mt-2" (click)="agregar(nombre.value)">Agregar</button>
          </div>

          <div class="mb-3 mt-3">
            <ul *ngFor="let task of tasks">
              <app-task [nombre]="task" ></app-task>
            </ul>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
